@charset "UTF-8";
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
/* FONT FACE */
@font-face {
  font-family: 'Master Of Break';
  src: url("../fonts/MasterOfBreak.eot");
  src: local("☺"), url("../fonts/MasterOfBreak.eot?#iefix") format("embedded-opentype"), url("../fonts/MasterOfBreak.woff") format("woff"), url("../fonts/MasterOfBreak.ttf") format("truetype"), url("../fonts/MasterOfBreak.svg#MasterOfBreak") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami Book';
  src: url("../fonts/Nanami-Book.eot");
  src: local("☺"), url("../fonts/Nanami-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Book.woff") format("woff"), url("../fonts/Nanami-Book.ttf") format("truetype"), url("../fonts/Nanami-Book.svg#Nanami-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami';
  src: url("../fonts/Nanami-Light.eot");
  src: local("☺"), url("../fonts/Nanami-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Light.woff") format("woff"), url("../fonts/Nanami-Light.ttf") format("truetype"), url("../fonts/Nanami-Light.svg#Nanami-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami';
  src: url("../fonts/Nanami-Bold.eot");
  src: local("☺"), url("../fonts/Nanami-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Bold.woff") format("woff"), url("../fonts/Nanami-Bold.ttf") format("truetype"), url("../fonts/Nanami-Bold.svg#Nanami-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami';
  src: url("../fonts/Nanami.eot");
  src: local("☺"), url("../fonts/Nanami.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami.woff") format("woff"), url("../fonts/Nanami.ttf") format("truetype"), url("../fonts/Nanami.svg#Nanami") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami Med';
  src: url("../fonts/Nanami-Med.eot");
  src: local("☺"), url("../fonts/Nanami-Med.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Med.woff") format("woff"), url("../fonts/Nanami-Med.ttf") format("truetype"), url("../fonts/Nanami-Med.svg#Nanami-Med") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* FONT FACE END*/
/* ========== HEADER SECTION ========== */
html {
  font-size: 62.5%;
  color: #000000;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #efeee9;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1286px;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* ========== MAIN SECTION ========== */
.section {
  text-align: center;
}

.section__heading {
  font-family: "Nanami Book", serif;
  font-size: 4rem;
  color: #f01b16;
  line-height: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 160px;
}

.section__heading span {
  font-family: "Master Of Break", serif;
  position: relative;
  top: 2px;
  text-transform: none;
  margin-left: 10px;
}

.section__heading-shadow {
  font-family: "Master Of Break", serif;
  font-size: 8rem;
  color: #f01b16;
  line-height: 12rem;
  font-weight: normal;
  -webkit-text-stroke: 3px #FFFFFF;
  -webkit-text-fill-color: #f01b16;
  white-space: pre-line;
}

.section__description {
  font-family: "Nanami", serif;
  font-size: 2.2rem;
  color: #9f9a97;
  line-height: 2.5rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.section__button {
  font-family: "Nanami Book", serif;
  font-size: 1.6rem;
  color: #fff2ee;
  line-height: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: pre-line;
  padding: 25px 30px;
  background-color: #ff7e66;
  border: 0;
  margin-bottom: 155px;
}

.restaurant-menu-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.restaurant-menu-header__image, .restaurant-menu-header__description {
  flex-basis: 50%;
  height: 750px;
}

.restaurant-menu-header__image {
  background-image: url("../images/recipe.png");
  background-size: cover;
  background-position: bottom center;
}

.restaurant-menu-header__description {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: #fff2ed;
  align-self: stretch;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding-left: 100px;
}

.restaurant-menu-header__description h3 {
  font-family: "Nanami", serif;
  font-size: 4.5rem;
  color: #ff7e66;
  line-height: 5.5rem;
  font-weight: bold;
  white-space: pre-line;
  text-transform: uppercase;
}

.restaurant-menu-header__description img {
  margin: 30px 0;
}

.restaurant-menu-header__description p {
  font-family: "Nanami", serif;
  font-size: 1.8rem;
  color: #9f9a97;
  line-height: 2.5rem;
  font-weight: 300;
  max-width: 550px;
  letter-spacing: 1px;
}

.fearures {
  height: 800px;
  background-image: url("../images/lemon-cake.png");
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
}

.fearures__description {
  flex-basis: 50%;
  padding-right: 16.66%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}

.fearures__description p, .fearures__description button, .fearures__description span {
  font-family: "Nanami Book", serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 2.8rem;
  font-weight: normal;
  display: block;
  margin-left: 50px;
  flex-basis: 100%;
}

.fearures__description p {
  margin-top: 60px;
  margin-bottom: 60px;
}

.fearures__description span {
  font-family: "Master Of Break", serif;
  font-size: 5rem;
  color: #FFFFFF;
  line-height: 8rem;
  font-weight: normal;
}

.fearures__description button {
  text-transform: uppercase;
  padding: 20px 30px;
  background-color: inherit;
  border: 4px solid #FFFFFF;
  max-width: 150px;
  margin-top: 60px;
}

.shop .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shop__icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 60px 0;
}

.shop__icon__caption {
  -ms-grid-row-align: center;
      align-self: center;
  margin-top: 28px;
  font-family: "Nanami Book", serif;
  font-size: 3rem;
  color: #000000;
  line-height: 3rem;
  font-weight: normal;
}

.shop__gallery {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.shop__gallery__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
          flex: auto;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 445px;
  height: 445px;
}

.shop__gallery__item h2, .shop__gallery__item h3 {
  margin: 0;
  font-family: "Nanami", serif;
  font-size: 5rem;
  color: #ff7e66;
  line-height: 7rem;
  font-weight: bold;
  letter-spacing: 10px;
}

.shop__gallery__item__caption {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 80%;
  height: 80%;
  background-color: #f01b16;
  background-color: rgba(240, 27, 22, 0);
  opacity: 0;
  transition: all 0.2s linear;
}

.shop__gallery__item:hover .shop__gallery__item__caption {
  background-color: rgba(240, 27, 22, 0.5);
  opacity: 1;
}

.shop__gallery__item h3 {
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.shop__gallery__item span {
  color: #fff481;
}

.shop__gallery__item:nth-child(1) {
  flex-basis: 25%;
  background-image: url("../images/gallery-01.png");
  background-size: cover;
}

.shop__gallery__item:nth-child(2) {
  flex-basis: 25%;
  text-align: center;
  background-color: #fff2ed;
}

.shop__gallery__item:nth-child(3) {
  flex-basis: 50%;
  background-image: url("../images/gallery-02.png");
  background-size: cover;
}

.shop__gallery__item:nth-child(4) {
  flex-basis: 50%;
  background-image: url("../images/gallery-03.png");
  background-size: cover;
}

.shop__gallery__item:nth-child(5) {
  flex-basis: 25%;
  background-image: url("../images/gallery-04.png");
  background-size: cover;
}

.shop__gallery__item:nth-child(6) {
  flex-basis: 25%;
  background-image: url("../images/gallery-05.png");
  background-size: cover;
}

.blog__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  justify-content: space-around;
}

.blog__item {
  width: 296px;
  height: 350px;
  flex-basis: auto;
  margin: 0 12.5px 40px 12.5px;
  transition: all 0.2s linear;
  background-size: cover;
  background-position: center center;
}

.blog__item-01 {
  background-image: url("../images/blog-01.png");
}

.blog__item-02 {
  background-image: url("../images/blog-02.png");
}

.blog__item-03 {
  background-image: url("../images/blog-03.png");
}

.blog__item-04 {
  background-image: url("../images/blog-04.png");
}

.blog__item .item__description {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.blog__item .item__description h3 {
  font-family: "Nanami", serif;
  font-size: 2.4rem;
  color: #000000;
  line-height: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  width: 100%;
  height: 140px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 140px 140px;
  transition: all 0.2s linear;
}

.blog__item .item__description span {
  font-family: "Master Of Break", serif;
  font-size: 2.4rem;
  color: #f01b16;
  line-height: 4rem;
  font-weight: normal;
  text-transform: capitalize;
}

.blog__item .item__description button {
  background-color: #ff7e66;
  border: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: all 0.2s linear;
}

.blog__item .item__description button a {
  font-family: "Nanami Book", serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 4rem;
  font-weight: normal;
  text-decoration: none;
  padding: 10px 20px;
}

.blog__item:hover {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.blog__item:hover .item__description h3 {
  height: 230px;
}

.blog__item:hover .item__description button {
  opacity: 1;
  visibility: visible;
}

/* ========== FOOTER SECTION ========== */
/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 960px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 800px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 640px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 480px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 320px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

/*# sourceMappingURL=style.css.map */
