@charset "UTF-8";
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
/* FONT FACE */
@font-face {
  font-family: 'Master Of Break';
  src: url("../fonts/MasterOfBreak.eot");
  src: local("☺"), url("../fonts/MasterOfBreak.eot?#iefix") format("embedded-opentype"), url("../fonts/MasterOfBreak.woff") format("woff"), url("../fonts/MasterOfBreak.ttf") format("truetype"), url("../fonts/MasterOfBreak.svg#MasterOfBreak") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami Book';
  src: url("../fonts/Nanami-Book.eot");
  src: local("☺"), url("../fonts/Nanami-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Book.woff") format("woff"), url("../fonts/Nanami-Book.ttf") format("truetype"), url("../fonts/Nanami-Book.svg#Nanami-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami';
  src: url("../fonts/Nanami-Light.eot");
  src: local("☺"), url("../fonts/Nanami-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Light.woff") format("woff"), url("../fonts/Nanami-Light.ttf") format("truetype"), url("../fonts/Nanami-Light.svg#Nanami-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami';
  src: url("../fonts/Nanami-Bold.eot");
  src: local("☺"), url("../fonts/Nanami-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Bold.woff") format("woff"), url("../fonts/Nanami-Bold.ttf") format("truetype"), url("../fonts/Nanami-Bold.svg#Nanami-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami';
  src: url("../fonts/Nanami.eot");
  src: local("☺"), url("../fonts/Nanami.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami.woff") format("woff"), url("../fonts/Nanami.ttf") format("truetype"), url("../fonts/Nanami.svg#Nanami") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanami Med';
  src: url("../fonts/Nanami-Med.eot");
  src: local("☺"), url("../fonts/Nanami-Med.eot?#iefix") format("embedded-opentype"), url("../fonts/Nanami-Med.woff") format("woff"), url("../fonts/Nanami-Med.ttf") format("truetype"), url("../fonts/Nanami-Med.svg#Nanami-Med") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* FONT FACE END*/
/* ========== HEADER SECTION ========== */
html {
  font-size: 62.5%;
  color: #000000;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #efeee9;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* ========== MAIN SECTION ========== */
.section {
  text-align: center;
}

.section__heading {
  font-family: "Nanami Book", serif;
  font-size: 4rem;
  color: #f01b16;
  line-height: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 160px;
}

.section__heading span {
  font-family: "Master Of Break", serif;
  position: relative;
  top: 2px;
  text-transform: none;
  margin-left: 10px;
}

.section__heading + p {
  margin-top: 70px;
  font-family: "Nanami", serif;
  font-size: 2.2rem;
  color: #9f9a97;
  line-height: 2.2rem;
  font-weight: 300;
}

.section__button {
  font-family: "Nanami Book", serif;
  font-size: 1.6rem;
  color: #fff2ee;
  line-height: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: pre-wrap;
  padding: 25px 30px;
  background-color: #ff7e66;
  border: 0;
  margin-top: 50px;
  margin-bottom: 155px;
}

/* ========== FOOTER SECTION ========== */
/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 960px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 800px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 640px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 480px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

@media screen and (max-width: 320px) {
  /* ========== HEADER ========== */
  /* ========== MAIN ========== */
  /* ========== FOOTER ========== */
}

/*# sourceMappingURL=style.css.map */
