/* ========== MEDIA QUERIES ========== */

@media screen  and (max-width:960px){

/* ========== MAIN ========== */
	.wrapper{
			width: 95%;
	}
	.project{
		&__description{
			padding-left: 50px;
			padding-right: 50px;
			text-align: justify;
		}
	}
	.portfolio{
		&__item{
			width: 50%;
		}
	}
	.about{
		&__image{
			float: none;
			width: 100%;
		}
		&__info{
			padding: 50px 20px;
			width: 100%;
			text-align: center;
			&--description{
				width: 100%;
				margin: 0;
				padding: 20px;
				h3{
					font-size: 2.4rem;
				}
				p{
					font-size: 1.8rem;
				}
			}
		}
	}
	.articles{
		&__item{
			width: 100%;
			margin: 20px 0;
		}
	}
	.contact{
		&__info{
			padding: 50px 20px;
		}
	}
}

@media screen and (max-width:800px){
/* ========== HEADER ========== */
	.navScroll{
			padding: 0 !important;
	}
	.page-header{
		.mobile-nav-toggle{
			display: block;
		}
		.nav{
				padding: 0;
				height: 66px; 
				overflow: hidden;
				z-index: 100;
				opacity: 0.8;
				&--open{
					display: block;
					padding: 0px 0 80px 0; 
					height: 300px; 
					opacity: 1;
				}
			ul{
				padding-top: 60px;
				padding-bottom: 20px;
				list-style: none;
				text-align: center;
				width: 100%;
			}
			li{
				width: 100%;
	  			display: block;
	  			padding: 10px 0;
	  			&:nth-child(2), &:nth-child(3), &:last-child{
	  				margin: 0;
	  			}
			}
			a{
				color: #000000;
				height: 100%;
				&:after {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 640px){

/* ========== MAIN ========== */
	.quote{
		margin: 100px 0;
	}
	.portfolio{
		&__item{
			width: 100%;
			img{
				width: 100%;
			}
			h3{
				padding: 10px;
			}
		}
	}
	.contact{
		&__info, &__map{
			width: 100%;
			float: none;
		}
		&__info{
			padding-left: 0;
			padding-right: 0;
		}
		&__map{
			margin: 20px 0;
		}
	}
}

@media screen and (max-width: 480px){

/* ========== MAIN ========== */

	.wrapper{
		width: 95%;
	}

/* ========== FOOTER ========== */
	.footer__icons, .footer__copy {
	    width: 100%;
	    text-align: center;
	    padding: 5px;
	}
}

@media screen and (max-width: 320px) {
/* ========== HEADER ========== */
	header{
		.banner{
	  		h1{
	  			font-size: 3rem;
	  			&:after{
	  				height: 0;
	  			}
	  		}
		}
	}
}