/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100|Roboto:300,400,700,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
/* ========== HEADER SECTION ========== */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #000;
  height: 100%;
}

body {
  background-color: #efeee9;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* ========== MAIN SECTION ========== */
.project {
  margin-bottom: 192px;
}

.project__description {
  background-color: #FFFFFF;
  padding: 100px 190px;
  font-family: "Roboto Slab", serif;
  font-size: 4rem;
  color: #444444;
  line-height: auto;
  font-weight: 100;
}

.project__description h2 {
  text-align: center;
  padding-bottom: 80px;
}

.project__description p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #222222;
  line-height: 2.8rem;
  font-weight: 300;
}

.project__description button {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #222222;
  line-height: 2.4rem;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  background-color: inherit;
  border: 2px solid #222222;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio {
  overflow: hidden;
}

.portfolio:after {
  content: "";
  display: table;
  clear: both;
}

.portfolio__item {
  width: 33.33%;
  max-height: 420px;
  float: left;
}

.quote {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  color: #222222;
  line-height: 3.6rem;
  font-weight: 100;
  margin: 220px auto 210px auto;
  text-align: center;
}

.about {
  background-color: #fff;
}

.about:after {
  content: "";
  display: table;
  clear: both;
}

.about__image, .about__info {
  width: 50%;
  float: left;
}

.about__image img {
  width: 100%;
}

.about__info {
  padding-left: 120px;
  padding-top: 110px;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #290a59;
  line-height: 2.2rem;
  font-weight: 300;
}

.about__info--description {
  margin-top: 50px;
  width: 50%;
}

.about__info--description h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__info--description p {
  color: #6d6081;
}

.articles {
  padding: 100px 0;
}

.articles__item {
  width: 31%;
  display: inline-block;
  margin-right: 2.7%;
  padding: 30px 50px;
  background-color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #222222;
  line-height: 1.6rem;
  font-weight: 300;
}

.articles__item:last-child {
  margin-right: 0;
}

.articles__item h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #222222;
  line-height: 1.8rem;
  font-weight: 700;
  padding-bottom: 40px;
}

.articles__item p {
  padding-bottom: 45px;
}

.articles__item a {
  color: #4eaeff;
  font-weight: 400;
}

.contact {
  background-color: #353535;
}

.contact:after {
  content: "";
  display: table;
  clear: both;
}

.contact__info, .contact__map {
  width: 50%;
  float: left;
  height: 100%;
}

.contact__info {
  padding: 90px 210px 90px 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #FFF;
  line-height: 2.4rem;
  font-weight: 400;
}

.contact__info h3 {
  font-weight: 700;
  margin-top: 20px;
}

.contact__info p:first-child {
  font-weight: 300;
}

.contact__map img {
  width: 100%;
  display: block;
  height: auto;
}

/* ========== FOOTER SECTION ========== */
.footer {
  padding: 50px 0;
}

.footer__icons, .footer__copy {
  display: inline-block;
}

.footer__icons {
  font-size: 24px;
}

.footer__icons ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer__icons ul li a {
  color: #353535;
}

.footer__copy {
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #353535;
  line-height: 2.8rem;
  font-weight: 300;
}

/* ========== MEDIA QUERIES ========== */

/*# sourceMappingURL=style.css.map */
