/* ========== MAIN SECTION ========== */

.section{
    text-align: center;
    &__heading{
        @include font-family($nanamiBook, 4rem, #f01b16, 4rem, normal);
        text-transform: uppercase;
        margin-top: 160px;
        span{
            font-family: $masterOfBreak;
            position: relative;
            top: 2px;
            text-transform: none;
            margin-left: 10px;
        }
        +p{
            margin-top: 70px;
            @include font-family($nanami, 2.2rem, #9f9a97, 2.2rem, 300);
            
        }
    }
    &__button{
        @include font-family($nanamiBook, 1.6rem, #fff2ee, 1rem, normal);
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space: pre-line;
        padding: 25px 30px;
        background-color: #ff7e66;
        border: 0;
        margin-top: 50px;
        margin-bottom: 155px;
    }
}

.restaurant-menu-header{
	display: flex;
	flex-direction: row;
	
	&__image, &__description{
		flex-basis: 50%;
		height: 750px;
	}
	&__image{
			background-image: url('../images/recipe.png');
			background-size: cover;
			background-position: bottom center;
		
	}
	&__description{
		display: flex;
		flex-direction: column;
		background-color: #fff2ed;
		align-self: stretch;
		justify-content: center;
		align-items: center;
		padding-left: 100px;
		h3{
        	@include font-family($nanami, 4.5rem, #ff7e66, 5.5rem, bold);
        	white-space: pre-line;
        	text-transform: uppercase;
        	// text-align: center;
		}
		img{
			margin: 30px 0;
		}
		p{
			@include font-family($nanami, 1.8rem, #9f9a97, 2.5rem, 300);
			max-width: 550px;
			letter-spacing: 1px;
		}
	}

}

