/* ========== HEADER SECTION ========== */

html{
	font-size: 62.5%;
	color: #000000;
	height:100%;
	box-sizing: border-box;
}
body{
	background-color: #efeee9;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper{
	max-width: 1286px;
	margin: 0 auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.page-header{
    &__nav{
        background-color: #FFFFFF;
        width: 100%;
    }
    &__nav .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
        ul{
            width: 75%;
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            // overflow: hidden;
        }
        li{
            margin: 0 5px;
            margin-bottom: 30px;
            position: relative;
            z-index: 1;
        }
        a{
            @include font-family($nanami, 1.8rem, #000000, 1.8rem, 500);
            text-decoration: none;
            text-transform: uppercase;
            &::after{
                content: " ";
                width: 120%; 
                height: 0;
                background-color: #fff581;
                opacity: 0;
                position: absolute;
                top: 45px;
                left: -10%;
                z-index: -1;
                transition: all 0.3s linear;
            }
            &:hover:after{
                height: 38px;
                top: 10px;
                opacity: 1;
            }
        }
    }
    &__banner{
        height: 770px;
        background-image: url('../images/header-banner.png');
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    span{
        @include font-family($nanami, 2.5rem, #ffffff, 2.5rem, 500);
        text-transform: uppercase;
        margin-top: 40px;
    }
}